body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    margin: 0px;

}

.section1 {

    background-image: url(images/donation13.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.Head {
    width: 100%;
    height: 100%;
    font-size: 20px;
    align-items: center;
    padding-top: 150px;
    text-align: center;


}

.h1 {
    color: white;
    text-align: center;
    font-size: 70px;


}

.p1 {
    font-size: 30px;
    text-align: center;
    color: rgb(108, 185, 230);
}

.c1 {
    color: rgb(162, 187, 219);
}

.Link-button {
    text-decoration: none;
    background-color: brown;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(yellow, tomato);

}

.h2 {
    color: blanchedalmond;
    padding-bottom: 1000px;
}