body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;

}

.section1 {

    background-image: url(images/donation13.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}





.h1 {
    color: white;
    text-align: center;
    font-size: 70px;


}

.p1 {
    font-size: 30px;
    text-align: center;
    color: rgb(108, 185, 230);
}

.c1 {
    color: rgb(162, 187, 219);
}

.Link-button {
    text-decoration: none;
    background-color: brown;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(yellow, tomato);

}

.Donate {
    padding: 50px;
}

.D-h1 {
    color: black;
    text-align: center;
    font-size: 50px;

}

.p2 {
    font-size: 20px;
    text-align: center;
    color: rgb(156, 156, 156);


}

.box {
    display: flex;
    justify-content: center;
}

.h3 {
    width: 5%;
    background-color: rgb(236, 233, 233);
    margin: 0px 10px;
    padding: 50px;
    font-size: 30px;
    color: black;
    text-align: center;
    border-radius: 5%;

}

#background-color {
    border: 2px solid red;
    color: rgb(231, 31, 31);
    background-color: rgb(236, 199, 198);


}

.L1 {
    text-align: center;
    margin-top: 50px;
    width: 55%;
    padding: 0px;
    margin-left: 427px;
    border-bottom: 2px solid rgb(139, 135, 135);
}


.Line {
    font-size: 20px;
    padding: 10px 30px;
    border: 0px;




}

.box2 {
    text-align: center;
    color: rgb(139, 135, 135);
    font-size: 20px;
}

.Link-button2 {
    text-decoration: none;
    background-color: brown;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(yellow, tomato);
    text-align: center;

}

.Link-center {
    padding: 50px;
    padding-left: 858px;
}

.section2 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.p3 {
    color: rgb(150, 148, 148);
    font-size: 20px;
}



.Food {
    width: 12%;
    margin: 15px;
    padding: 70px;
    background-color: rgb(218, 233, 250);
    border-radius: 4%;
}

.shelter {
    width: 12%;
    margin: 15px;
    padding: 70px;
    background-color: rgb(216, 245, 239);
    border-radius: 4%;
}

.education {
    width: 12%;
    margin: 15px;
    padding: 70px;
    background-color: rgb(245, 232, 226);
    border-radius: 4%;
}

.E-h1 {
    font-size: 50px;
    font-weight: 700;
}

.p4 {
    font-size: 25px;
    color: rgb(133, 132, 132);
}

.section3 {
    display: flex;

}

.Depend {
    width: 50%;
    margin: 50px;
    padding: 90px;
    border-radius: 10%;
}

.Link-button3 {
    text-decoration: none;
    background-color: brown;
    padding: 15px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 145, 0), tomato);
    text-align: center;
    font-size: 20px;


}

.section4 {
    display: flex;
}

.i1 {

    font-size: 20px;
    font-weight: 700;
    background-color: rgb(207, 207, 207);
    padding: 20px 35px;
    border: 0px;

}

.i2 {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(247, 149, 70);
    padding: 20px 0px;
    text-align: center;
    border: 0px;

}

.input {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 248, 216);
    padding: 100px;
    margin-left: 500px;
    margin-right: 500px;

}

.section6 {
    display: flex;
    justify-content: center;
    background-color: rgb(19, 16, 34);
    height: 200px;
    margin-top: 100px;
}

.footer {
    text-align: center;
}

.f1 {
    font-family: Brush Script MT;
    font-size: 50px;
    color: rgb(248, 83, 33);
    text-align: center;

}

.f2 {
    color: rgb(206, 228, 248);
}